<div class="cart-shipping" data-min-spend="{{ settings.min_spend | times: 100.0 }}" data-total="{{ cart.total_price }}"
  data-message = " {{ settings.message_shipping }}">
  <span class="cart-shipping__progress">
    <span class="cart-shipping__progress-current"></span>
  </span>
  <p class="cart-shipping__message cart-shipping__message_default body-small active"></p>
  <p class="cart-shipping__message cart-shipping__message_success body-small">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
      <g clip-path="url(#clip0_2726_11191)">
      <path d="M6.96866 3.28938C6.85123 3.17225 6.70618 3.08659 6.54692 3.0403C6.38765 2.99401 6.21928 2.98858 6.05737 3.02451C5.89545 3.06045 5.74519 3.13659 5.62045 3.2459C5.49572 3.35522 5.40052 3.49419 5.34366 3.65L2.06304 12.6737C2.00914 12.8226 1.99173 12.9821 2.01227 13.139C2.03281 13.296 2.09069 13.4457 2.18107 13.5756C2.27144 13.7055 2.39166 13.8119 2.53164 13.8857C2.67162 13.9596 2.82728 13.9988 2.98554 14C3.10206 13.9992 3.21755 13.9781 3.32679 13.9375L12.3499 10.6562C12.5058 10.5995 12.6448 10.5043 12.7542 10.3796C12.8636 10.2549 12.9398 10.1047 12.9758 9.94273C13.0118 9.7808 13.0064 9.61242 12.9602 9.45311C12.9139 9.29381 12.8283 9.14873 12.7112 9.03125L6.96866 3.28938ZM4.07179 10.0706L5.27178 6.77125L9.22929 10.7288L5.92929 11.9288L4.07179 10.0706ZM10.0005 4.5C10.0099 4.16198 10.0918 3.82992 10.2405 3.52625C10.5718 2.86437 11.1968 2.5 12.0005 2.5C12.4193 2.5 12.688 2.35688 12.8537 2.04938C12.9409 1.87734 12.9909 1.68889 13.0005 1.49625C13.001 1.36364 13.0542 1.23666 13.1483 1.14325C13.2424 1.04983 13.3698 0.997628 13.5024 0.998125C13.635 0.998622 13.762 1.05178 13.8554 1.1459C13.9488 1.24002 14.001 1.36739 14.0005 1.5C14.0005 2.30375 13.468 3.5 12.0005 3.5C11.5818 3.5 11.313 3.64312 11.1474 3.95062C11.0602 4.12266 11.0102 4.31111 11.0005 4.50375C11.0003 4.56941 10.9871 4.63438 10.9618 4.69495C10.9364 4.75552 10.8994 4.8105 10.8528 4.85675C10.8062 4.90301 10.7509 4.93963 10.6901 4.96453C10.6294 4.98943 10.5643 5.00212 10.4987 5.00187C10.433 5.00163 10.368 4.98845 10.3075 4.9631C10.2469 4.93774 10.1919 4.90071 10.1457 4.8541C10.0994 4.8075 10.0628 4.75224 10.0379 4.69148C10.013 4.63073 10.0003 4.56566 10.0005 4.5ZM8.50054 2.5V1C8.50054 0.867392 8.55321 0.740215 8.64698 0.646447C8.74075 0.552678 8.86793 0.5 9.00054 0.5C9.13314 0.5 9.26032 0.552678 9.35409 0.646447C9.44786 0.740215 9.50054 0.867392 9.50054 1V2.5C9.50054 2.63261 9.44786 2.75979 9.35409 2.85355C9.26032 2.94732 9.13314 3 9.00054 3C8.86793 3 8.74075 2.94732 8.64698 2.85355C8.55321 2.75979 8.50054 2.63261 8.50054 2.5ZM14.8543 7.64625C14.9007 7.6927 14.9375 7.74785 14.9626 7.80853C14.9877 7.86921 15.0006 7.93424 15.0006 7.99991C15.0006 8.06558 14.9876 8.1306 14.9624 8.19126C14.9373 8.25191 14.9004 8.30702 14.854 8.35344C14.8075 8.39985 14.7524 8.43666 14.6917 8.46176C14.631 8.48687 14.566 8.49977 14.5003 8.49974C14.4346 8.49972 14.3696 8.48675 14.309 8.4616C14.2483 8.43644 14.1932 8.39958 14.1468 8.35312L13.1468 7.35313C13.053 7.2593 13.0003 7.13206 13.0003 6.99937C13.0003 6.86669 13.053 6.73945 13.1468 6.64563C13.2406 6.5518 13.3679 6.4991 13.5005 6.4991C13.6332 6.4991 13.7605 6.5518 13.8543 6.64563L14.8543 7.64625ZM15.1587 4.97437L13.6587 5.47437C13.5328 5.51631 13.3955 5.50655 13.2769 5.44725C13.1583 5.38794 13.0681 5.28394 13.0262 5.15812C12.9842 5.03231 12.994 4.89499 13.0533 4.77638C13.1126 4.65776 13.2166 4.56756 13.3424 4.52563L14.8424 4.02563C14.9682 3.98369 15.1055 3.99345 15.2242 4.05275C15.3428 4.11206 15.433 4.21606 15.4749 4.34188C15.5168 4.46769 15.5071 4.60501 15.4478 4.72362C15.3885 4.84224 15.2845 4.93244 15.1587 4.97437Z" fill="currentColor"/>
      </g>
      <defs>
      <clipPath id="clip0_2726_11191">
      <rect width="16" height="16" fill="transparent"/>
      </clipPath>
      </defs>
    </svg>
    {{ settings.message_shipping_free }}
  </p>
</div>