{%- assign dark_mode_toggle = settings.dark_mode_toggle -%}
{%- if dark_mode_toggle -%}
  <div class="header__scheme no-js-hidden">
    <button
      class="header__toggle-scheme toggle-scheme-button focus-inset"
      aria-label="{{ 'general.dark_mode.dark' | t }}"
    >
      <div class="header__toggle-scheme-item header__toggle-scheme-item--light">
        {% render 'icon-light-mode' %}
      </div>
      <div class="header__toggle-scheme-item header__toggle-scheme-item--dark">
        {% render 'icon-dark-mode' %}
      </div>
    </button>
  </div>
{%- endif -%}
