{%- if section.settings.menu != blank -%}
  {% render 'header-drawer', section: section %}
{%- endif -%}

{% render 'header-logo', tag: 'h1' %}

{% render 'header-inline-menu', section: section %}

<div class="header__column">
  <div class="header__icons">
		{% render 'color-scheme' %}
		
    {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
      {% render 'header-localization' %}
    {%- endif -%}

    {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
      {% render 'header-language' %}
    {%- endif -%}

    {%- if section.settings.enable_search -%}
      {% render 'header-search', section: section %}
    {%- endif -%}
    {%- if shop.customer_accounts_enabled -%}
      {% render 'header-account' %}
    {%- endif -%}

    {% render 'header-cart' %}
  </div>
</div>